
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/index.css">
</head>

<body>

    <header>
        <%- include('./partials/header') %>
    </header>

    <footer>
        
    </footer>
    <script src="/js/indexFunction.js"></script>
</body>

</html>